.gap_50 {
    gap: 50px;
}

.gap_20 {
    gap: 20px;
}

.data_container {
    max-width: calc(4 * 300px + 3 * 20px);
}

.img_container {
    max-width: 45px;
}

.img_container img {
    width: 100%;
}